name: Quality

on:
  pull_request:

jobs:
  # -------- Lint --------
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint
